<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Let's Talk Together</h1>
    <form method="GET" action="/chats/new">
        <button class="add" type="submit">Add message</button>
    </form>
        <%for(let chat of chats){%>
            <div class="chat">
            <p>from:<i><%=chat.from%></i></p>
          
            <p class="msg">
                <%=chat.msg%>
            </p>
            <p class="to">To:<i><%=chat.to%></i></p>
            <p><%=chat.created_at.toString().split(" ")[4]%></p>
            <p><%=chat.created_at.toString().split(" ").slice(0,3).join(" ")%></p>
            <div class="btnSet">
            <form method="POST" action="/delete/<%=chat._id%>?_method=delete">
                <button type="submit" class="delete">delete</button>
            </form> 
            <form method="GET" action="/chats/<%=chat._id%>/edit">
                <button type="submit" class="update">Edit Message</button>
            </form>
            <form method="GET" action="/chats/<%=chat._id%>">
                <button type="submit" class="update">show msg</button>
            </form>
        </div>
            <hr>
           
           
    </div>
    <br>
    <% }%>
        </div>
</body>

</html>